
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face{
    font-family: 'Ranade';
    src: url(Ranade-Regular.woff2),
    url(Ranade-Regular.woff);
}

html{scroll-behavior: smooth;}

body{
    font-family: 'Ranade';
    color: black;
    width: 100%;
}

.logo{
    height: 2em;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 2em;
    background-color: #191919;
}

header nav a{
    color: #f4f3f1;
    margin-left: 3em;
    padding: 0.5em;
    width: 0%;
    letter-spacing: 0.1em;
}

nav a:hover{
    border-bottom: #f4f3f1 1px solid;
}


nav a:hover::before{
    width: 120%;
}

div .encabezado{
    background-color: #191919;
}


#fondo{
    background-color: #191919;
    background-image: url(estrella.png);
    background-size: 600px;
    background-position: center;
    background-repeat: no-repeat;
    color: #f4f3f1;
    height: 90vh;
    text-align: center;
    letter-spacing: 0.1em;
}

#fondo h1{
    padding-top: 30vh;
    font-size: 7em;
}

#acerca{
    background-color: #f4f3f1;
    text-align: center;
    color: #191919;
}

#acerca div{
    width: 700px;
    margin: 0 auto;
    padding: 6em 0;
}

#acerca h2{
    margin-bottom: 1em;
}

p{
    font-size: 1.1em;
}

#contacto{
    background-color: #191919;
    color: #f4f3f1;
    padding: 5em 0em;
    margin: 0 auto;
    text-align: center;
}

.may{
    padding-top: 2em;
    padding-bottom: 0.5em;
    
}


#grid img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#grid{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
}

#grid article:hover{
    color: #191919;
    opacity: 80%;
    transition: 0.3s;
}


/* -----------PROYECTOS------------ */
#proyecto1 img{
    display: flex;
    width: 100%;
}

#grillapets{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#proyecto2 img{
    width: 100%;
    display: flex;
}

#proyecto2 div{
    font-size: 1.em;
    padding: 2em;
    color:#f4f3f1;
    background-color:#191919;
    text-decoration: underline;
    
}

#proyecto3 img{
    width: 100%;
    margin: 3em;
}

.giff{
    margin: 4em 0em;
}

.letras{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#proyecto4 img{
    width: 100%;
}


/* --------------TABLET------------- */
@media all and (max-width:768px){
    #acerca div{
        width: 500px;
    }

    #fondo h1{
        padding-top: 30vh;
        font-size: 5em;
    }

    p{
        font-size: 1em;
    }

    header nav a{
        color: #f4f3f1;
        margin-left: 1.5em;
        padding: 0.5em;
        width: 0%;
        letter-spacing: 0.1em;
        font-size: 0.8em;
    }

    #grid{
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 4px;
    }

}


/* -----------------CELULAR--------------- */
@media all and (max-width:480px){
    #acerca div{
        width: 350px;
    }

    #fondo h1{
        padding-top: 30vh;
        font-size: 4em;
    }

    p{
        font-size: 0.9em;
    }

    .logo{
        height: 1.5em;
    }

}